<?xml version="1.0" encoding="UTF-8"?>
<!-- [START_EXCLUDE] -->
<!--
  Copyright 2016 Google Inc.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
        http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- [END_EXCLUDE] -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.raagatech.aspirant.service.rest.impl</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>IndependenceDayJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechIndependenceDayJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GandhiJayantiJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechGandhiJayantiJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChristmasDayJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechChristmasDayJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewYearJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechNewYearJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepublicDayJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechRepublicDayJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiwaliJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechDiwaliJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoliJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechHoliJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RakhiJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechRakhiJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VijaydashamiJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechVijaydashamiJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EidJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechEidJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MahaveerJayantiJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechMahaveerJayantiJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuddhaJayantiJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechBuddhaJayantiJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JanmashtamiJob</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechJanmashtamiJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>raagatechmusic</servlet-name>
        <servlet-class>com.raagatech.raagatechmusic.RaagatechmusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>raagatechmusic</servlet-name>
        <url-pattern>/raagatechmusic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndependenceDayJob</servlet-name>
        <url-pattern>/IndependenceDayJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GandhiJayantiJob</servlet-name>
        <url-pattern>/GandhiJayantiJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChristmasDayJob</servlet-name>
        <url-pattern>/ChristmasDayJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewYearJob</servlet-name>
        <url-pattern>/NewYearJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepublicDayJob</servlet-name>
        <url-pattern>/RepublicDayJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiwaliJob</servlet-name>
        <url-pattern>/DiwaliJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoliJob</servlet-name>
        <url-pattern>/HoliJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RakhiJob</servlet-name>
        <url-pattern>/RakhiJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VijaydashamiJob</servlet-name>
        <url-pattern>/VijaydashamiJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EidJob</servlet-name>
        <url-pattern>/EidJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MahaveerJayantiJob</servlet-name>
        <url-pattern>/MahaveerJayantiJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuddhaJayantiJob</servlet-name>
        <url-pattern>/BuddhaJayantiJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JanmashtamiJob</servlet-name>
        <url-pattern>/JanmashtamiJob</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
